.header {
  align-self: center;
  color: white;

  box-shadow: 0 0 1rem rgb(75, 75, 75);
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100%;
  border-radius: 5px;

  padding: 5px;
  margin-top: 50px;
  margin-bottom: 15px;

  transition-duration: 0.2s;
}

.header:hover {
  box-shadow: 0 0 1.5rem rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.container {
  width: 95vw;
  background-color: rgba(1, 1, 1, 0.05);
  backdrop-filter: blur(20px);
  height: min-content;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.container h1 {
  font-weight: bold;
  font-size: xx-large;
}

.container p {
  font-size: larger;
  margin: 10px;
  text-wrap: wrap;
}

.container a {
  color: inherit; 
}

.about_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description_container {
  width: 100%;

  padding: 20px;
  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 1rem rgb(75, 75, 75);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
}

.avatar {
  width: 200px;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.75rem rgb(75, 75, 75));
}

.description {
  width: 100%;
  text-align: center;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social_item {
  margin: 10px 5px;
}

.project_container {
  width: 100%;
  height: fit-content;
}

.text {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  
  color: white;
  box-shadow: 0 0 1rem rgb(75, 75, 75);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.text_full {
  grid-column: 1;
  grid-column-end: 3;
}

.text p {
  margin: 10px;
  text-align: justify;
}

.preview {
  width: 100%;
  aspect-ratio: 1;
}

.video {
  box-shadow: 0 0 1rem rgb(75, 75, 75);
  border-radius: 5px;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .container {
    margin: 20px auto;
    padding: 30px;
    width: min(70vw, 1200px);
  }

  .about_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .avatar {
    width: 100%;
    padding: 20px;
  }

  .description_container {
    align-items: start;
  }

  .description {
    width: 100%;
    text-align: start;
  }

  .project_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  
  .text {
    margin: auto;
    width: 100%;
  }
  
  .preview {
    width: 100%;
  }
  
  .video {
    width: 100%;
    margin: auto;
  }
}