.header {
  align-self: center;
  color: white;

  box-shadow: 0 0 1rem rgb(75, 75, 75);
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100%;
  border-radius: 5px;

  padding: 5px;
  margin-top: 15px auto;

  transition-duration: 0.2s;
}

.glass {
  background-color: rgba(1, 1, 1, 0.05);
  backdrop-filter: blur(20px);
  border-radius: 10px;

  box-shadow: 0 0 01.5em rgb(200, 200, 200);
}

.header:hover {
  box-shadow: 0 0 1.5rem rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.container {
  width: 95vw;
  height: min-content;
  margin: 10px;

  display: flex;
  flex-direction: column;
}

.container h1 {
  font-weight: bold;
  font-size: xx-large;
}

.container p {
  font-size: larger;
  margin: 10px;
  text-wrap: wrap;
}

.container a {
  color: inherit; 
}

.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0.5em 1em;
  margin: 1em auto;
}

.description_container {
  width: 100%;

  margin: 1em;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 1rem rgb(75, 75, 75);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
}

.avatar {
  width: min(20em, 200px);
  border-radius: 50%;
  filter: drop-shadow(0 0 0.75rem rgb(75, 75, 75));
}

.description {
  width: 100%;
  text-align: center;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social_item {
  margin: 0.8em 0.4em;
}

.project_container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.2em;
  margin: 0.8em auto;
}

.project_description {
  width: 100%;
  height: fit-content;
}

.text {
  width: 100%;
  padding: 0.8em;
  margin-top: 0.8em;
  
  color: white;
  box-shadow: 0 0 1rem rgb(75, 75, 75);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.text_full {
  grid-column: 1;
  grid-column-end: 3;
}

.text p {
  margin: 0.8em;
  text-align: justify;
}

.preview {
  width: 100%;
  aspect-ratio: 1;
}

.video {
  box-shadow: 0 0 1rem rgb(75, 75, 75);
  border-radius: 5px;
  width: 100%;

  margin: 0.8em 0;
}

@media screen and (min-width: 1000px) {
  .container {
    margin: 20px auto;
    padding: 30px;
    width: min(70vw, 1200px);
  }

  .about_container {
    display: grid;
    grid-template-columns: 1fr 2fr;

    padding: 0.2em 2em;
  }

  .avatar {
    width: 100%;
    padding: 1em;
  }

  .description_container {
    align-items: start;
    padding: 1em 1.5em;
  }

  .description {
    width: 100%;
    text-align: start;
  }

  .project_description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  
  .text {
    width: 100%;
  }
  
  .preview {
    width: 100%;
  }
  
  .video {
    width: 100%;
    margin: auto;
  }
}