.center {
  align-self: center;
}

.container {
  backdrop-filter: blur(10px);
  height: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.container h1 {
  margin: 10px;
  font-weight: bold;
  font-size: xx-large;
}

.container p {
  font-size: larger;
  margin: 10px;
  text-wrap: wrap;
}

.container a {
  color: inherit;
}

.avatar {
  width: 200px;
  border-radius: 50%;
  margin-top: 10px;
}

.description {
  width: 100%;
  text-align: center;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social_item {
  margin: 10px 5px;
}

.project_container {
  width: 100%;
  height: fit-content;
}

.text {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  
  color: var(--neutral100);
  background-color: var(--neutral0);
  border-radius: 5px;
}

.text p {
  margin: 10px;
}

.preview {
  width: 100%;
  aspect-ratio: 1;
}

.video {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .description {
    width: 50%;
  }

  .project_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  
  .text {
    margin: auto;
    width: 100%;
  }
  
  .preview {
    width: 100%;
  }
  
  .video {
    width: 100%;
    margin: auto;
  }
}