.app {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_container {
  flex-grow: 1;
  width: 95vw;
  height: 100%;
}

@media screen and (min-width: 1000px) {
  .main_container {
    width: min(70vw, 1200px);
  }
}