.app {
  min-height: 100vh;
  width: 100%;
  height: min-content;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_container {
  width: 95vw;
  height: 100%;
}

@media screen and (min-width: 1000px) {
  .main_container {
    width: 70vw;
  }
}