.app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_container {
  width: 60vw;
  height: 100%;
  flex: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}