.container {
  height: min-content;
  min-height: 0vh;

  min-width: 100%;
  max-width: max-content;

  overflow-x: hidden;

  color: var(--neutral100);
  background-color: var(--neutral0);

  transition: min-height 0.5s;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.expanded {
  min-height: 100vh;
  font-size: min(20vh, 15vw);
  pointer-events: none;
}

.disable_scroll {
  overflow: hidden;
}

.button {
  transition: 0.5s;

  align-self: flex-end;
  padding: 10px;

  font-size: larger;
  font-weight: bolder;

  opacity: 100;
  width: 100vw;
  min-width: 0vw;
  max-width: fit-content;

  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}

.button:hover {
  background-color: var(--neutral100);
  color: var(--neutral0);
}

.inactive {
  opacity: 0 !important;
  width: 0vw;
  padding: 0px;
}