.container {
  width: 100%;
  color: var(--neutral100);
  background-color: var(--neutral0);
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.button {
  padding: 10px;
  transition-duration: 200ms;
}

.button:hover {
  background-color: var(--neutral100);
  color: var(--neutral0);
}

.button a {
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}