.container {
  width: fit-content;
  margin: auto;
  height: 100%;
  backdrop-filter: blur(30px);
  padding: 30px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  font-size: min(30vh, 40vw);
}

.container span {
  font-size: min(3vh, 5vw);
}