.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  font-size: min(30vh, 40vw);
}

.container span {
  font-size: min(3vh, 5vw);
}